<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center profilecontenedor">
        <div class="card-body">
          <h3 class="text-profile">Nombre: {{user.pa_nombre}}</h3>
          <h3 class="text-profile">Apellido: {{user.pa_apellido}}</h3>
          <h3 class="text-profile">Tipo de identidad : {{user.idtipoidentidad}}</h3>
          <h3 class="text-profile">Numero de identidad: {{user.username}}</h4>
          <h3 class="text-profile"> Direccion : {{user.pa_direccion}}</h3>
          <a href="/links" class="btn btn-primary m-4">
            Ver tus citas
          </a>
        </div>
      </div>
    </div>

  </div>
</div>