<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-body">
          <h1>Hola Odontologo</h1>
          <h3 class="text-profile">Nombre: {{user.od_nombre}}</h3>
          <h3 class="text-profile">Apellido: {{user.od_apellido}}</h3>
          <h3 class="text-profile">Tipo de identidad : {{user.idtipoidentidad}}</h3>
          <h3 class="text-profile">Numero de identidad: {{user.username}}</h4>
          <h3 class="text-profile"> Direccion : {{user.od_direccion}}</h3>
          <a href="/pacientes" class="btn btn-primary m-4">
              Ver Pacientes
          </a>
        </div>
      </div>
    </div>

  </div>
</div>